.many_calories {
  background-color: #ffccbc;
}

.medium_calories {
  background-color: #b3e5fc;
}

.few_calories {
  background-color: #e8f5e9;
}

.form_edit_button {
  background-color: #78909c;
  color: white;
}

.table th {
  text-align: center;
}
