<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron">
      <h1>Welcome to the Meal Tracker!</h1>
      <h4>This is an app where you can enter your meals, and track your calorie count.</h4>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <form>
        <div class="center">
          <h4>Add a Meal:</h4>
        </div>
        <app-new-meal [childMeals]="masterMeals">Loading...</app-new-meal>
      </form>
    </div>

    <div class="col-xs-8">
      <div class="center">
        <h4>Your Meals:</h4><br>
        <app-meal-list [childMeals]="masterMeals">Loading...</app-meal-list>
      </div>
    </div>
  </div>
</div>
