<div class="form-group">
  <label for="name">Name:</label>
  <input #name class="form-control" placeholder="e.g. Pizza">
</div>
<div class="form-group">
  <label for="details">Details:</label>
  <input #details class="form-control" placeholder="e.g. pepperoni pizza">
</div>
<div class="form-group">
  <label for="calories">Calories:</label>
  <input #calories class="form-control" placeholder="e.g. 700">
</div>
<div class="center">
  <button (click)="newMeal(name.value, details.value, calories.value)" type="button" name="button" class="btn btn-sm">Add Meal</button>
</div>
